:root {
  --background-color: beige;
  --second-color: #fcf8f3; 
  --third-color: #ffd3b6; 
  --fourth-color: #698474; 
  --fifth-color: #ffaaa5;   
  --default-font: 'Montserrat', sans-serif;
  --second-font: 'Playfair Display', serif;
  --third-font: 'Roboto Condensed', sans-serif;
  }


.App-header {
  margin: 30px 30px;
  text-align: center;
  font: var(--second-font);
}

.App-logo {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}