:root {
  --background-color: beige;
  --second-color: #fcf8f3; 
  --third-color: #ffd3b6; 
  --fourth-color: #698474; 
  --fifth-color: #ffaaa5;   
  --default-font: 'Montserrat', sans-serif;
  --second-font: 'Playfair Display', serif;
  --third-font: 'Roboto Condensed', sans-serif;
  }

body{
  background-color: var(--background-color);
}

.App-home {
  margin: 60px 30px;
  text-align: center;
  font-family: var(--third-font);
  color: black;
  padding: 20px 0;
  font-weight: 300;
  font-size: 22px;
}

.App-logo {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}

.home-h1 {
  font-family: var(--second-font);
  font-size: 56px;
}

.App-footer {
  text-align: center;
  color: var(--fourth-color);
}